<div class="dashboard1-container">
  <div class="dashboard1-dashboard1">
    <div class="dashboard1-frame427320746">
      <div class="dashboard1-navbar">
        <div class="dashboard1-frame221">
          <img
            src="/assets/playground_assets/searchi286-t5c.svg"
            alt="searchI286"
            class="dashboard1-search"
          />
          <span class="dashboard1-text">
            <span>
              Search
              <span [innerHTML]="raw7sxr"></span>
            </span>
          </span>
        </div>
        <div class="dashboard1-frame220">
          <img
            src="/assets/playground_assets/belli286-hkwg.svg"
            alt="bellI286"
            class="dashboard1-bell"
          />
          <div class="dashboard1-frame252">
            <span class="dashboard1-text002 H2">
              <span>
                Puma Official Store
                <span [innerHTML]="raw21r7"></span>
              </span>
            </span>
            <span class="dashboard1-text004"><span>Change Seller</span></span>
          </div>
          <div class="dashboard1-status">
            <div class="dashboard1-avatarsize">
              <div class="dashboard1-status-indicator">
                <img
                  src="/assets/playground_assets/ellipse1i286-yo5r-200h.png"
                  alt="Ellipse1I286"
                  class="dashboard1-ellipse1"
                />
                <div class="dashboard1-image">
                  <img
                    src="/assets/playground_assets/maski286-om7g-200h.png"
                    alt="MaskI286"
                    class="dashboard1-mask"
                  />
                  <img
                    src="/assets/playground_assets/maski286-xdo5-200h.png"
                    alt="MaskI286"
                    class="dashboard1-mask1"
                  />
                  <img
                    src="/assets/playground_assets/imagei286-q9p-200h.png"
                    alt="ImageI286"
                    class="dashboard1-image1"
                  />
                </div>
              </div>
            </div>
            <img
              src="/assets/playground_assets/statusi286-9jyr-200h.png"
              alt="StatusI286"
              class="dashboard1-status1"
            />
          </div>
        </div>
      </div>
      <div class="dashboard1-footer">
        <div class="dashboard1-search1">
          <span class="dashboard1-text006">
           
          </span>
        </div>
        <div class="dashboard1-search2">
          <span class="dashboard1-text008">
            
          </span>
          
        </div>
      </div>
      <div class="dashboard1-container1">
        <div class="dashboard1-frame427320752">
          <div class="dashboard1-frame427320755">
            <div class="dashboard1-frame427320754"></div>
            <div class="dashboard1-frame427320768">
              <div class="dashboard1-widget">
                <div class="dashboard1-frame427320695">
                  <span class="dashboard1-text016">
                    <span class="dashboard1-text017">
                     
                      <br />
                      <span></span>
                    </span>
                                
                   </span>
                  <span class="dashboard1-text024">
                  
                </span>
                </div>
                <div class="dashboard1-chart">
                  <div class="dashboard1-chart1">
                    
                  </div>
                   
                  <div class="dashboard1-text031">
                   
                  </div>
                </div>
                <div class="dashboard1-frame256">
                  <div class="dashboard1-frame266">
                    <span class="dashboard1-text036">
                      <span class="dashboard1-text037">
                        
                        <br />
                        <span></span>
                      </span>
                     
                    </span>
                   
                  </div>
                </div>
              </div>
              <div class="dashboard1-widget1">
                <div class="dashboard1-frame4273206951">
                  <span class="dashboard1-text044">
                    
                  </span>
                  
                </div>
                <div class="dashboard1-chart2">
                  <div class="dashboard1-group356">
                    
                  </div>
                </div>
                <div class="dashboard1-frame287">
                  <div class="dashboard1-frame280">
                    <div class="dashboard1-frame257">
                      <span class="dashboard1-text050">
                        
                      </span>
                      
                    </div>
                  </div>
                  <div class="dashboard1-frame259">
                    <div class="dashboard1-frame2571">
                      <span class="dashboard1-text056">
                        
                      </span> 
                       
                    </div>
                  </div>
                </div>
              </div>
              <div class="dashboard1-widget2">
                <div class="dashboard1-frame4273206952">
                  <span class="dashboard1-text060">
                    
                  </span>
                  
                </div>
                <div class="dashboard1-chart3">
                  <div class="dashboard1-frame427320777">
                    <div class="dashboard1-frame427320765">
                      <div class="dashboard1-group354">
                        
                        <span class="dashboard1-text064">
                          <span>
                           
                            <br />
                          
                          </span>
                        </span>
                      </div>
                      <div class="dashboard1-group353">
                        <div class="dashboard1-group11">
                          <div class="dashboard1-group348">
                            
                            <div class="dashboard1-group10">
                              
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dashboard1-frame427320776">
                  <div class="dashboard1-frame427320774">
                    
                    <span class="dashboard1-text073">
                  </span>
                  </div>
                  <div class="dashboard1-frame427320775">
                    <div class="dashboard1-frame4273207731">
                   </div>
                 </div>
                </div>
              </div>
              <div class="dashboard1-frame427320778">
                <div class="dashboard1-widget3">
                  <div class="dashboard1-frame4273206953">
                    <span class="dashboard1-text081">
                      
                      
                    </span>
                    
                  </div>
                  <div class="dashboard1-chart4">
                    <div class="dashboard1-group3561">
                      <div class="dashboard1-group278">
                        <div class="dashboard1-group2781">
                          <div class="dashboard1-group276">
                            
                          </div>
                        </div>
                      </div>
                      <div class="dashboard1-tooltip">
                        <div class="dashboard1-tooltip-text">
                          <span class="dashboard1-text094">
                            
                          </span>
                        </div>
                        
                      </div>
                      <div class="dashboard1-tooltip1">
                        
                        <div class="dashboard1-tooltip-text2">
                          <span class="dashboard1-text096">
                          
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="dashboard1-frame427320772">
                      <div class="dashboard1-group338">
                       
                        
                      </div>
                      <div class="dashboard1-group337">
                        
                        <span class="dashboard1-text100">
                         
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="dashboard1-frame427320705">
                    <div class="dashboard1-frame427320692">
                      <div class="dashboard1-frame2572">
                        <span class="dashboard1-text102">
                         
                        </span>
                        <span class="dashboard1-text104">
                        
                        </span>
                      </div>
                    </div>
                    <div class="dashboard1-frame427320691">
                      <div class="dashboard1-frame2573">
                        <span class="dashboard1-text106">
                          
                        </span>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard1-frame427320749">
            <div class="dashboard1-frame427320748">
              <div class="dashboard1-line-chart">
                <div class="dashboard1-frame427320724">
                  <div class="dashboard1-frame427320720">
                    <span class="dashboard1-text110">
                     
                    </span>
                    <div class="dashboard1-dropdown">
                      <div class="dashboard1-dropdown1">
                        <span class="dashboard1-text112">
                          
                        </span>
                        
                      </div>
                    </div>
                  </div>
                  <div class="dashboard1-frame427320723">
                    
                    <div class="dashboard1-frame427320722">
                      
                      <span class="dashboard1-text119">
                        
                      </span>
                    </div>
                  </div>
                </div>
                <div class="dashboard1-group340">
                 
                  <div class="dashboard1-group339">
                    <div class="dashboard1-frame427320719">
                      
                    </div>
                    <div class="dashboard1-group43">
                      
                    </div>
                    <div class="dashboard1-frame427320779">
                      <div class="dashboard1-group3371">
                        
                        <span class="dashboard1-text142">
                         
                        </span>
                      </div>
                      <div class="dashboard1-group3381">
                        
                        <span class="dashboard1-text144">
                          
                        </span>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="dashboard1-bar-chart">
                <div class="dashboard1-frame4273207241">
                  <div class="dashboard1-frame4273207201">
                    <span class="dashboard1-text146">
                     
                    </span>
                    <div class="dashboard1-dropdown2">
                      <div class="dashboard1-dropdown3">
                        <span class="dashboard1-text148">
                         
                        </span>
                        
                      </div>
                    </div>
                  </div>
                  <div class="dashboard1-frame4273207231">
                     <span class="dashboard1-text150"></span> 
                    <div class="dashboard1-frame4273207221">
                      <div class="dashboard1-frame4273207211">
                        <div class="dashboard1-percentage-info">
                          <div class="dashboard1-arrow-up">
                            
                          </div>
                        </div>
                      </div>
                      <span class="dashboard1-text155">
                        
                      </span>
                    </div>
                  </div>
                </div>
                <div class="dashboard1-frame427320731">
                  <div class="dashboard1-chart7">
                    
                    <div class="dashboard1-group20">
                      
                    </div>
                    <div class="dashboard1-group27">
                       
                    </div>
                    <div class="dashboard1-group21">
                      
                    </div>
                    <div class="dashboard1-group28">
                     
                    </div>
                    <div class="dashboard1-group22">
                       
                    </div>
                    <div class="dashboard1-group29">
                      
                    </div>
                    <div class="dashboard1-group23">
                       
                    </div>
                    <div class="dashboard1-group24">
                      
                    </div>
                    <div class="dashboard1-group26">
                       
                    </div>
                  </div>
                  <div class="dashboard1-frame427320730">
                    <div class="dashboard1-last6days">
                      
                      <span class="dashboard1-text175">
                        
                      </span>
                    </div>
                    <div class="dashboard1-last-week">
                      
                      <span class="dashboard1-text177">
                        
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard1-component1">
            <div class="dashboard1-search-variant2">
              <span class="dashboard1-text179 H1">
                <span>Announcements</span>
              </span>
              <div class="dashboard1-input">
                <div class="dashboard1-frame-form">
                  <span class="dashboard1-text181"><span>Search</span></span>
                </div>
              </div>
              <img
                src="/assets/playground_assets/fimoreverticali288-l6w5.svg"
                alt="fimoreverticalI288"
                class="dashboard1-fimorevertical"
              />
            </div>
            <div class="dashboard1-row">
              <div class="dashboard1-frame4273207461">
                <span class="dashboard1-text183"><span>Feb 11</span></span>
                <span class="dashboard1-text185 H4">
                  <span>
                    <span>
                      Zalora- Seller Communication Prioritization.
                      <span [innerHTML]="raw89yg"></span>
                    </span>
                    <br />
                    <span>
                      Hi, you’ve likely seen email from Zalora Seller Helpdesk
                      to you with the Phrase [HIGH] or ...
                    </span>
                  </span>
                </span>
              </div>
              <img
                src="/assets/playground_assets/group357i288-5lj.svg"
                alt="Group357I288"
                class="dashboard1-group357"
              />
            </div>
            <div class="dashboard1-row1">
              <div class="dashboard1-frame4273207462">
                <span class="dashboard1-text190"><span>Feb 11</span></span>
                <span class="dashboard1-text192 H4">
                  <span>
                    <span>
                      [IMPORTANT] Update to API endponit limit.
                      <span [innerHTML]="rawox9c"></span>
                    </span>
                    <br />
                    <span>
                      Dear Seller, Follewing up from our previous announcement,
                      please note a slight change ...
                    </span>
                  </span>
                </span>
              </div>
              <img
                src="/assets/playground_assets/group357i288-7pqc.svg"
                alt="Group357I288"
                class="dashboard1-group3571"
              />
            </div>
            <div class="dashboard1-row2">
              <div class="dashboard1-frame4273207463">
                <span class="dashboard1-text197"><span>Feb 07</span></span>
                <span class="dashboard1-text199 H4">
                  <span>
                    <span>
                      Covid-19 Impact on Your Operations.
                      <span [innerHTML]="rawf7aj"></span>
                    </span>
                    <br />
                    <span>
                      Dear Seller, please immediately inform your Account.
                      Manage or SHD if your operations are impacted by ...
                    </span>
                  </span>
                </span>
              </div>
              <img
                src="/assets/playground_assets/group357i288-46aa.svg"
                alt="Group357I288"
                class="dashboard1-group3572"
              />
            </div>
            <div class="dashboard1-row3">
              <div class="dashboard1-frame4273207464">
                <span class="dashboard1-text204"><span>Jan 26</span></span>
                <span class="dashboard1-text206 H4">
                  <span>
                    <span>
                      [IMPORTANT] API endponit limit. please forward.
                      <span [innerHTML]="rawzfhe"></span>
                    </span>
                    <br />
                    <span>
                      Dear Seller, As part of our continuous efforts to improve
                      system response time and reliability ...
                    </span>
                  </span>
                </span>
              </div>
              <img
                src="/assets/playground_assets/group357i288-fs6.svg"
                alt="Group357I288"
                class="dashboard1-group3573"
              />
            </div>
            <div class="dashboard1-footer-variant2">
              <span class="dashboard1-text211">
                <span>
                  Showing 1 to 4 of 17
                  <span [innerHTML]="rawvpy3"></span>
                </span>
              </span>
              <div class="dashboard1-frame284">
                <button class="dashboard1-button-icon-default">
                  <button class="dashboard1-button-icon">
                    <div class="dashboard1-chevronleft">
                      <img
                        src="/assets/playground_assets/chevronlefti288-px4j.svg"
                        alt="chevronleftI288"
                        class="dashboard1-chevronleft1"
                      />
                    </div>
                  </button>
                </button>
                <button class="dashboard1-button-icon-default1">
                  <button class="dashboard1-button-icon1">
                    <div class="dashboard1-chevronright">
                      <img
                        src="/assets/playground_assets/chevronrighti288-r7wu.svg"
                        alt="chevronrightI288"
                        class="dashboard1-chevronright01"
                      />
                    </div>
                  </button>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard1-frame427320709">
          <div class="dashboard1-frame427320708">
            <div class="dashboard1-frame311">
              <div class="dashboard1-tabs">
                <button class="dashboard1-button">
                  <button class="dashboard1-button01">
                    <span class="dashboard1-text213 H2">
                      <span>Coming Soon</span>
                    </span>
                  </button>
                </button>
                <div class="dashboard1-tab">
                  <span class="dashboard1-text215 H4">
                    <span>End Soon</span>
                  </span>
                </div>
                <div class="dashboard1-tab1">
                  <span class="dashboard1-text217 H4">
                    <span>Promotion List</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="dashboard1-promotion-card">
              <div class="dashboard1-frame427320717">
                <span class="dashboard1-text219 H2">
                 
                </span>
                <div class="dashboard1-frame307">
                  <div class="dashboard1-group345">
                    
                    <div class="dashboard1-group266">
                      <div class="dashboard1-group208">
                        <div class="dashboard1-group8">
                          
                        </div>
                        <div class="dashboard1-group9">
                         
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="dashboard1-frame306">
                    <div class="dashboard1-frame244">
                      <div class="dashboard1-frame232">
                        <div class="dashboard1-calendarstats">
                         
                        </div>
                       
                      </div>
                      <div class="dashboard1-frame233">
                        <div class="dashboard1-discount2">
                          
                        </div>
                      
                      </div>
                      <div class="dashboard1-frame236">
                        <div class="dashboard1-checkuplist">
                          <div class="dashboard1-checkuplist1">
                            
                          </div>
                        </div>
                       
                      </div>
                      <div class="dashboard1-frame243">
                        <div class="dashboard1-tags">
                         
                        </div>
                    
                      </div>
                    </div>
                    <div class="dashboard1-frame305">
                      
                    </div>
                  </div>
                </div>
                <div class="dashboard1-frame427320756">
                  <div class="dashboard1-group272">
                    <div class="dashboard1-group271">
                      
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="dashboard1-frame321">
                
                <div class="dashboard1-frame319">
                
                  <div class="dashboard1-group2691">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard1-promotion-card1">
            <div class="dashboard1-frame4273207171">
              
              <div class="dashboard1-frame3071">
                
                <div class="dashboard1-frame3061">
                  <div class="dashboard1-frame2441">
                    <div class="dashboard1-frame2321">
                   </div>
                    
                   </div>
                 </div>
              </div>
            </div>
            
            
          </div>
          <div class="dashboard1-promotion-card2">
            <div class="dashboard1-frame4273207172">
              
              <div class="dashboard1-frame3072">
                
                <div class="dashboard1-frame3062">
                  
                </div>
              </div>
            </div>
           <div class="dashboard1-frame3212">
              <div class="dashboard1-frame3182">
             </div>
           </div>
          </div>
          <div class="dashboard1-promotion-card3">
            <div class="dashboard1-frame4273207173">
              <span class="dashboard1-text335">
                
              </span>
              <div class="dashboard1-frame3073">
                <div class="dashboard1-group3453">
                </div>
                <div class="dashboard1-frame3063">
               </div>
              </div>
            </div>
   
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard1-side-menu">
      <div class="dashboard1-logo">
        <div class="dashboard1-frame231">
          <div class="dashboard1-alignjustified">
            <img
              src="/assets/playground_assets/alignjustifiedi289-thm9.svg"
              alt="alignjustifiedI289"
              class="dashboard1-alignjustified1"
            />
          </div>
          <img
            src="/assets/playground_assets/logoi289-6z2t-200h.png"
            alt="LogoI289"
            class="dashboard1-logo1"
          />
        </div>
      </div>
      <div class="dashboard1-menu">
        <div class="dashboard1-list">
          <div class="dashboard1-apps">
            <div class="dashboard1-apps1">
              <img
                src="/assets/playground_assets/rectanglei289-p9w-200h.png"
                alt="RectangleI289"
                class="dashboard1-rectangle4"
              />
              <img
                src="/assets/playground_assets/rectanglei289-zhtc-200h.png"
                alt="RectangleI289"
                class="dashboard1-rectangle5"
              />
              <img
                src="/assets/playground_assets/rectanglei289-al8i-200h.png"
                alt="RectangleI289"
                class="dashboard1-rectangle6"
              />
              <img
                src="/assets/playground_assets/pathi289-9p2s.svg"
                alt="PathI289"
                class="dashboard1-path14"
              />
              <img
                src="/assets/playground_assets/pathi289-8h.svg"
                alt="PathI289"
                class="dashboard1-path15"
              />
            </div>
          </div>
          <span class="dashboard1-text375 ButtonFont-Large">
            <span>Overview</span>
          </span>
          <div class="dashboard1-chevronright02">
            <img
              src="/assets/playground_assets/chevronrighti289-a5l.svg"
              alt="chevronrightI289"
              class="dashboard1-chevronright03"
            />
          </div>
        </div>
        <div class="dashboard1-list1">
          <div class="dashboard1-griphorizontal">
            <img
              src="/assets/playground_assets/griphorizontali289-ft9.svg"
              alt="griphorizontalI289"
              class="dashboard1-griphorizontal1"
            />
          </div>
          <span class="dashboard1-text377 ButtonFont-Large">
            <span>Products</span>
          </span>
          <div class="dashboard1-chevronright04">
            <img
              src="/assets/playground_assets/chevronrighti289-dmzh.svg"
              alt="chevronrightI289"
              class="dashboard1-chevronright05"
            />
          </div>
        </div>
        <div class="dashboard1-list2">
          <div class="dashboard1-tag">
            <img
              src="/assets/playground_assets/tagi289-k8xu.svg"
              alt="tagI289"
              class="dashboard1-tag1"
            />
          </div>
          <span class="dashboard1-text379 ButtonFont-Large">
            <span>Orders</span>
          </span>
          <div class="dashboard1-chevronright06">
            <img
              src="/assets/playground_assets/chevronrighti289-ihk.svg"
              alt="chevronrightI289"
              class="dashboard1-chevronright07"
            />
          </div>
        </div>
        <div class="dashboard1-list3">
          <div class="dashboard1-brandgoogleanalytics">
            <div class="dashboard1-brandgoogleanalytics1">
              <img
                src="/assets/playground_assets/rectanglei289-6gka-200h.png"
                alt="RectangleI289"
                class="dashboard1-rectangle7"
              />
              <img
                src="/assets/playground_assets/rectanglei289-cguf-200h.png"
                alt="RectangleI289"
                class="dashboard1-rectangle8"
              />
              <img
                src="/assets/playground_assets/ovali289-som-200h.png"
                alt="OvalI289"
                class="dashboard1-oval"
              />
            </div>
          </div>
          <span class="dashboard1-text381 ButtonFont-Large">
            <span>Reports</span>
          </span>
          <div class="dashboard1-chevronright08">
            <img
              src="/assets/playground_assets/chevronrighti289-kyp.svg"
              alt="chevronrightI289"
              class="dashboard1-chevronright09"
            />
          </div>
        </div>
        <div class="dashboard1-list4">
          <div class="dashboard1-settings">
            <img
              src="/assets/playground_assets/settingsi289-227.svg"
              alt="settingsI289"
              class="dashboard1-settings1"
            />
          </div>
          <span class="dashboard1-text383 ButtonFont-Large">
            <span>Setting</span>
          </span>
          <div class="dashboard1-chevronright10">
            <img
              src="/assets/playground_assets/chevronrighti289-pa2.svg"
              alt="chevronrightI289"
              class="dashboard1-chevronright11"
            />
          </div>
        </div>
        <div class="dashboard1-list5">
          <div class="dashboard1-user">
            <img
              src="/assets/playground_assets/useri289-8kgf.svg"
              alt="userI289"
              class="dashboard1-user1"
            />
          </div>
          <span class="dashboard1-text385 ButtonFont-Large">
            <span>Adminstration</span>
          </span>
          <div class="dashboard1-chevronright12">
            <img
              src="/assets/playground_assets/chevronrighti289-93jc.svg"
              alt="chevronrightI289"
              class="dashboard1-chevronright13"
            />
          </div>
        </div>
        <div class="dashboard1-list6">
          <div class="dashboard1-tool">
            <img
              src="/assets/playground_assets/tooli289-4p7w.svg"
              alt="toolI289"
              class="dashboard1-tool1"
            />
          </div>
          <span class="dashboard1-text387 ButtonFont-Large">
            <span>Maintenance</span>
          </span>
          <div class="dashboard1-chevronright14">
            <img
              src="/assets/playground_assets/chevronrighti289-qxe.svg"
              alt="chevronrightI289"
              class="dashboard1-chevronright15"
            />
          </div>
        </div>
        <div class="dashboard1-list7">
          <div class="dashboard1-aperture">
            <img
              src="/assets/playground_assets/aperturei289-hced.svg"
              alt="apertureI289"
              class="dashboard1-aperture1"
            />
          </div>
          <span class="dashboard1-text389 ButtonFont-Large">
            <span>Help</span>
          </span>
          <div class="dashboard1-chevronright16">
            <img
              src="/assets/playground_assets/chevronrighti289-g5q.svg"
              alt="chevronrightI289"
              class="dashboard1-chevronright17"
            />
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>
